.donateContainer a {
    position: fixed;
    right: 40px;
    bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #ffb800;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    transition: all .3s ease;
    box-shadow: 0 0 5px #ffb800;
    font-size: 12px;
    color: #000000;
    font-weight: bold;

    svg {
        color: #000000;
        font-size: 20px;
        transition: all .3s ease;
        transform: scale(0);
        width: 0;
    }

    &:hover {
        box-shadow: 0 0 10px #ffb800;
        width: 100px;
    }

    &:hover svg {
        transform: scale(1);
        width: 20px;
        margin-right: 10px;
    }

}